@font-face {
  font-family: Tisa;
  src: url(TisaSansPro-Black.otf); }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

*, *:before, *:after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

header nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0067F4; }
  header nav img {
    height: 8rem;
    z-index: 33;
    position: relative;
    margin-right: 5rem; }
  header nav .nav-Btn {
    font-family: "Open Sans", sans-serif;
    color: #0067F4;
    background-color: #FFFFFF;
    font-size: 2.5rem;
    opacity: .8;
    z-index: 33;
    position: relative;
    padding: .5rem;
    border: 2px solid transparent;
    transition: background-color .5s; }
    @media only screen and (max-width: 800px) {
      header nav .nav-Btn {
        background-color: transparent; } }
    header nav .nav-Btn:hover {
      text-decoration: none;
      opacity: 1;
      background-color: transparent;
      color: #FFFFFF;
      border: 2px solid #FFFFFF; }
      @media only screen and (max-width: 800px) {
        header nav .nav-Btn:hover {
          color: black;
          border: none; } }
  header nav ul {
    display: flex;
    justify-content: center;
    z-index: 33;
    position: relative;
    margin-right: 5rem;
    transition: opacity .5s; }
    @media only screen and (max-width: 800px) {
      header nav ul {
        visibility: hidden;
        opacity: 0;
        top: 12rem;
        width: 60%;
        background-color: #FFFFFF;
        flex-direction: column;
        margin-right: 0;
        text-align: center;
        z-index: 55;
        position: absolute; } }
    header nav ul li {
      margin: 1rem;
      list-style: none;
      border: 5px solid transparent; }
      @media only screen and (max-width: 800px) {
        header nav ul li:hover {
          border: 5px solid #0067F4; } }
      header nav ul li a {
        font-family: "Open Sans", sans-serif;
        color: #FFFFFF;
        font-size: 2.5rem;
        opacity: .8;
        transition: opacity .35s;
        padding-bottom: .5rem; }
        header nav ul li a:hover {
          color: #FFFFFF;
          text-decoration: none;
          opacity: 1;
          border-bottom: 0.45rem solid #FFFFFF; }
          @media only screen and (max-width: 800px) {
            header nav ul li a:hover {
              border-bottom: none; } }
        @media only screen and (max-width: 800px) {
          header nav ul li a {
            color: black; }
            header nav ul li a:hover {
              color: #0067F4; } }

header .header-container {
  height: 94vh;
  background-color: #0067F4;
  position: relative;
  overflow: hidden; }

header .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }
  header .hero .row {
    align-items: center;
    height: 100%; }
    header .hero .row .col-md-12 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: "Open Sans", sans-serif;
      color: white;
      height: 100%;
      z-index: 23; }
      header .hero .row .col-md-12:first-child {
        position: relative; }
        @media only screen and (max-width: 800px) {
          header .hero .row .col-md-12:first-child::before {
            content: " ";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            background: linear-gradient(rgba(0, 103, 244, 0.3) 0%, rgba(43, 219, 220, 0.3) 100%);
            transform: skewX(20deg);
            overflow: hidden;
            z-index: -5; } }
      @media only screen and (max-width: 600px) {
        header .hero .row .col-md-12:first-child {
          text-align: center;
          align-items: center; } }
      @media only screen and (max-width: 991px) {
        header .hero .row .col-md-12:not(:first-child) {
          display: none; } }
      header .hero .row .col-md-12 h1 {
        position: relative;
        z-index: 33;
        font-weight: 900;
        font-size: 6rem; }
      header .hero .row .col-md-12 h2 {
        position: relative;
        z-index: 33;
        font-weight: 900;
        font-size: 6rem;
        margin-bottom: 3rem; }
      header .hero .row .col-md-12 .arrowLinkTop {
        margin-top: 5rem;
        display: none; }
        @media only screen and (max-width: 600px) {
          header .hero .row .col-md-12 .arrowLinkTop {
            display: block; } }
        header .hero .row .col-md-12 .arrowLinkTop i {
          font-size: 3rem;
          color: #FFFFFF;
          opacity: .65; }
          header .hero .row .col-md-12 .arrowLinkTop i:hover {
            opacity: 1;
            cursor: pointer; }
      header .hero .row .col-md-12 .contactBtn {
        width: 25%;
        font-size: 3rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        color: #0067F4;
        border-radius: 2.25rem;
        background-color: #FFFFFF;
        border: solid 2px transparent;
        transition: background-color .4s; }
        @media only screen and (max-width: 600px) {
          header .hero .row .col-md-12 .contactBtn {
            width: 35%; } }
        header .hero .row .col-md-12 .contactBtn:hover {
          color: white;
          background-color: transparent;
          border: solid 2px white;
          text-decoration: none; }
    header .hero .row .hero-imgz img {
      z-index: 24;
      max-height: 100%;
      max-width: 100%;
      height: 45rem; }
    header .hero .row .hero-imgz::before {
      content: " ";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background: linear-gradient(rgba(0, 103, 244, 0.3) 0%, rgba(43, 219, 220, 0.3) 100%);
      transform: skewX(20deg);
      overflow: hidden;
      z-index: 26; }
  header .hero__text {
    font-family: "Open Sans", sans-serif;
    margin-right: 5rem;
    color: white; }
    @media only screen and (max-width: 1400px) {
      header .hero__text {
        margin-right: 0;
        margin-left: 1rem; } }
    header .hero__text h1 {
      position: relative;
      z-index: 33;
      font-weight: 900;
      font-size: 8rem; }
    header .hero__text h2 {
      position: relative;
      z-index: 33;
      font-weight: 900;
      font-size: 8rem;
      margin-bottom: 3rem; }
    header .hero__text a {
      font-size: 3rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      color: #0067F4;
      border-radius: 2.25rem;
      background-color: #FFFFFF;
      border: solid 2px transparent;
      transition: background-color .4s; }
      header .hero__text a:hover {
        color: white;
        background-color: transparent;
        border: solid 2px white;
        text-decoration: none; }
  header .hero__image {
    margin-right: 10rem; }
    @media only screen and (max-width: 800px) {
      header .hero__image {
        display: none; } }
    header .hero__image::before {
      content: " ";
      width: 33%;
      height: 100%;
      position: absolute;
      top: 0;
      background: linear-gradient(rgba(0, 103, 244, 0.3) 0%, rgba(43, 219, 220, 0.3) 100%);
      transform: skewX(20deg);
      overflow: hidden;
      z-index: 23; }
    header .hero__image img {
      z-index: 24;
      max-height: 100%;
      max-width: 100%;
      height: 45rem; }

header .downArrowRow {
  padding: 0;
  margin: 0; }
  @media only screen and (max-width: 600px) {
    header .downArrowRow {
      display: none; } }
  header .downArrowRow .col-md-12 .arrowLink {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    z-index: 65; }
    header .downArrowRow .col-md-12 .arrowLink i {
      font-size: 3rem;
      color: #FFFFFF;
      opacity: .65; }
      header .downArrowRow .col-md-12 .arrowLink i:hover {
        opacity: 1;
        cursor: pointer; }

.responsive {
  opacity: 1;
  visibility: visible; }

.nav__collapse {
  margin-left: 10rem;
  display: none;
  color: #FFFFFF;
  transition: scale .25s; }
  .nav__collapse:hover {
    scale: 1.25; }
  .nav__collapse h1 {
    font-size: 4rem; }
    .nav__collapse h1:hover {
      cursor: pointer; }
  @media only screen and (max-width: 800px) {
    .nav__collapse {
      display: block; } }

.questionText {
  height: 25vh;
  margin-bottom: 5rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 1300px) {
    .questionText {
      width: 100%; } }
  @media only screen and (max-width: 600px) {
    .questionText {
      margin-top: 0rem;
      margin-bottom: 12rem; } }
  .questionText .row {
    margin: 0;
    padding: 0; }
    .questionText .row .col-md-12 {
      padding: 0;
      text-align: center;
      width: 50%;
      background: #fff;
      box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      margin-bottom: 30px;
      padding: 3rem;
      height: auto; }
      @media only screen and (max-width: 800px) {
        .questionText .row .col-md-12 {
          width: 100%; } }
      .questionText .row .col-md-12 p {
        font-size: 3em; }
      .questionText .row .col-md-12 i {
        margin-top: -2rem;
        font-size: 5rem;
        color: #0067F4; }

.topics .topics-container {
  margin-bottom: 10rem; }
  .topics .topics-container .row-1 .col-lg-5 .iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0; }
    .topics .topics-container .row-1 .col-lg-5 .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      @media only screen and (max-width: 555px) {
        .topics .topics-container .row-1 .col-lg-5 .iframe-container iframe {
          margin-top: 1rem; } }
  .topics .topics-container .row-1 .col-lg-6 {
    font-family: "Open Sans", sans-serif; }
    @media only screen and (max-width: 992px) {
      .topics .topics-container .row-1 .col-lg-6 .text-header {
        margin-top: 1.25rem; } }
    .topics .topics-container .row-1 .col-lg-6 .text-header h2 {
      margin-bottom: 3rem;
      font-size: 3rem; }
    .topics .topics-container .row-1 .col-lg-6 .text-details p {
      font-size: 1.65rem; }
  .topics .topics-container .row-1-2 .col-lg-12 hr {
    margin-top: 10rem;
    margin-bottom: 10rem; }
  .topics .topics-container .row-1-3 .col-lg-5 .img-container img {
    max-height: 100%;
    max-width: 100%; }
  @media only screen and (max-width: 992px) {
    .topics .topics-container .row-1-3 .col-lg-6 .text-header {
      margin-bottom: 1.25rem; } }
  .topics .topics-container .row-1-3 .col-lg-6 .text-header h2 {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 3rem;
    font-size: 3rem; }
  .topics .topics-container .row-1-3 .col-lg-6 .text-details {
    font-family: "Open Sans", sans-serif; }
    .topics .topics-container .row-1-3 .col-lg-6 .text-details ul {
      list-style: none; }
      .topics .topics-container .row-1-3 .col-lg-6 .text-details ul li {
        font-size: 1.65rem;
        margin: .25rem; }
        .topics .topics-container .row-1-3 .col-lg-6 .text-details ul li::before {
          content: "\f054  ";
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          color: #0067F4; }

.process {
  background: url(/imgs/rawpixel-558596-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 43; }
  .process .img-background {
    background: radial-gradient(circle, rgba(0, 103, 244, 0.85) 0%, rgba(0, 149, 244, 0.85) 100%);
    height: 100%;
    padding-top: 3rem;
    padding-bottom: 5rem; }
  .process .container .process__row-1 {
    padding-top: 5rem;
    padding-bottom: 3rem; }
    .process .container .process__row-1 .offset-lg-3 .process__header h1 {
      text-align: center;
      color: #FFFFFF;
      font-size: 3rem; }
    .process .container .process__row-1 .offset-lg-3 .process__header p {
      text-align: center;
      color: #FFFFFF;
      font-size: 2rem; }
  .process .container .process__row-2 .col-lg-2 {
    margin-bottom: 30px;
    height: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .process .container .process__row-2 .col-lg-2 .inner-box {
      padding: 1rem;
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
      height: 20rem;
      position: relative;
      z-index: 3; }
      .process .container .process__row-2 .col-lg-2 .inner-box::before {
        content: ' ';
        position: absolute;
        z-index: -1;
        background: #fff;
        width: 100%;
        opacity: .15;
        height: 100%;
        bottom: -10px;
        left: 0px;
        right: -20px;
        margin: auto;
        border-radius: 20px; }
      .process .container .process__row-2 .col-lg-2 .inner-box i {
        color: #0067F4;
        font-size: 4rem; }
      .process .container .process__row-2 .col-lg-2 .inner-box p {
        margin-top: 2.5rem;
        font-size: 1.75rem;
        justify-self: center; }
      .process .container .process__row-2 .col-lg-2 .inner-box:hover {
        cursor: pointer;
        margin-top: -1rem; }

.qualify {
  margin-top: 25rem; }
  @media only screen and (max-width: 1000px) {
    .qualify {
      margin-top: 15rem; } }
  @media only screen and (max-width: 600px) {
    .qualify {
      margin-top: 10rem; } }
  .qualify .row {
    padding: 0;
    margin: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    .qualify .row .col-md-12 {
      display: flex;
      justify-content: center; }
      @media only screen and (max-width: 1000px) {
        .qualify .row .col-md-12 {
          flex-direction: column; } }
      .qualify .row .col-md-12 .ul-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        position: relative;
        margin-bottom: 30px;
        padding: 3rem;
        height: auto;
        width: 30%; }
        @media only screen and (max-width: 1400px) {
          .qualify .row .col-md-12 .ul-text {
            width: 45%; } }
        @media only screen and (max-width: 1000px) {
          .qualify .row .col-md-12 .ul-text {
            width: 100%; } }
        .qualify .row .col-md-12 .ul-text h3 {
          font-size: 2.5rem;
          font-family: "Open Sans", sans-serif;
          margin-bottom: 2rem; }
        .qualify .row .col-md-12 .ul-text ul {
          list-style: none; }
          .qualify .row .col-md-12 .ul-text ul li {
            font-size: 1.75rem;
            margin: .5rem;
            padding: .25rem; }
            .qualify .row .col-md-12 .ul-text ul li::before {
              content: "\f054  ";
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              text-decoration: inherit;
              color: #0067F4; }
      .qualify .row .col-md-12 .bigText {
        width: 40%; }
        @media only screen and (max-width: 1000px) {
          .qualify .row .col-md-12 .bigText {
            width: 100%;
            margin-bottom: 3rem; } }
        .qualify .row .col-md-12 .bigText h1 {
          font-size: 8rem;
          font-family: "Open Sans", sans-serif;
          color: #0067F4; }
          @media only screen and (max-width: 1200px) {
            .qualify .row .col-md-12 .bigText h1 {
              font-size: 7rem; } }
          @media only screen and (max-width: 1000px) {
            .qualify .row .col-md-12 .bigText h1 {
              text-align: center; } }
          @media only screen and (max-width: 645px) {
            .qualify .row .col-md-12 .bigText h1 {
              font-size: 6rem; } }
          @media only screen and (max-width: 555px) {
            .qualify .row .col-md-12 .bigText h1 {
              font-size: 4.5rem; } }

.row-1 .col-md-12 .iframe-box {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 1300px) {
    .row-1 .col-md-12 .iframe-box {
      width: 60%; } }
  @media only screen and (max-width: 1150px) {
    .row-1 .col-md-12 .iframe-box {
      width: 100%; } }
  .row-1 .col-md-12 .iframe-box iframe {
    height: 50rem;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1); }
    @media only screen and (max-width: 500px) {
      .row-1 .col-md-12 .iframe-box iframe {
        height: 35rem; } }

.row-1 .col-md-12 .item-box-r1 {
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
  margin-bottom: 30px;
  padding: 3rem;
  height: auto; }
  .row-1 .col-md-12 .item-box-r1 .r1-item-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .row-1 .col-md-12 .item-box-r1 .r1-item-1 .r1-item-1-text {
      margin-left: auto;
      margin-right: auto;
      font-family: "Open Sans", sans-serif;
      font-weight: 400; }
      .row-1 .col-md-12 .item-box-r1 .r1-item-1 .r1-item-1-text p {
        font-size: 2rem;
        text-shadow: white 0px 0px 10px;
        line-height: 1.75;
        letter-spacing: 2px; }
        .row-1 .col-md-12 .item-box-r1 .r1-item-1 .r1-item-1-text p:not(:last-of-type) {
          margin-bottom: 3rem; }
      @media only screen and (max-width: 555px) {
        .row-1 .col-md-12 .item-box-r1 .r1-item-1 .r1-item-1-text .shortSaleA-2 {
          display: none; } }

.show {
  display: block !important; }

.additional-info-1 {
  display: none;
  transition: display .5s; }

.form-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #F2F2FE; }
  .form-section .container {
    padding-top: 3rem;
    background: #fff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1); }
    .form-section .container .form-row-1 .col-lg-12 {
      margin-bottom: 3rem;
      text-align: center; }
      .form-section .container .form-row-1 .col-lg-12 p {
        font-size: 2rem; }
        .form-section .container .form-row-1 .col-lg-12 p i {
          margin-right: 1rem; }
    .form-section .container .form-row-2 .col-lg-12 form .form-group .form-row .col {
      margin: 1rem;
      text-align: center; }
      .form-section .container .form-row-2 .col-lg-12 form .form-group .form-row .col input {
        border: 0.25rem solid rgba(0, 103, 244, 0.5);
        padding: 2rem; }
        .form-section .container .form-row-2 .col-lg-12 form .form-group .form-row .col input:focus {
          box-shadow: none;
          border: 0.45rem solid #0067f4; }
        .form-section .container .form-row-2 .col-lg-12 form .form-group .form-row .col input:hover {
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          cursor: pointer;
          border: 0.45rem solid #0067f4; }
        .form-section .container .form-row-2 .col-lg-12 form .form-group .form-row .col input:invalid {
          border: 0.25rem solid red; }
      .form-section .container .form-row-2 .col-lg-12 form .form-group .form-row .col .checkbox-large {
        text-align: center;
        transform: scale(1.5);
        border: 0; }
      .form-section .container .form-row-2 .col-lg-12 form .form-group .form-row .col .checkbox-large-label {
        font-size: 1.5rem;
        font-family: "Open Sans", sans-serif; }
    .form-section .container .form-row-3 .col-lg-4 .status {
      color: red;
      margin-bottom: 2rem; }

#submitBtn {
  background: linear-gradient(90deg, #0067f4 0%, #0095f4 100%); }
  #submitBtn:hover {
    background: radial-gradient(circle, #0067f4 0%, #0095f4 100%);
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1); }

.consequences {
  background: url(/imgs/lovelyday12_shutterstock.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  z-index: 43; }
  .consequences .img-background-2 {
    position: relative;
    background: radial-gradient(circle, rgba(0, 103, 244, 0.85) 0%, rgba(0, 149, 244, 0.85) 100%);
    height: 100%;
    z-index: 45;
    padding-top: 8rem;
    padding-bottom: 8rem; }
  .consequences .container .row .col-lg-3 .foreclosure-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; }
    @media only screen and (max-width: 991px) {
      .consequences .container .row .col-lg-3 .foreclosure-stats {
        padding: 1rem; } }
    @media only screen and (max-width: 767px) {
      .consequences .container .row .col-lg-3 .foreclosure-stats {
        padding: 3rem; } }
    .consequences .container .row .col-lg-3 .foreclosure-stats h1 {
      color: #FFFFFF;
      font-size: 1.5rem; }
    .consequences .container .row .col-lg-3 .foreclosure-stats p {
      color: #FFFFFF;
      font-size: 1.75rem; }
    .consequences .container .row .col-lg-3 .foreclosure-stats::after {
      content: '';
      position: absolute;
      width: 70%;
      height: 32px;
      top: 20px;
      left: 70%;
      background: url(/imgs/circle-dec.png) center center no-repeat; }
      @media only screen and (max-width: 767px) {
        .consequences .container .row .col-lg-3 .foreclosure-stats::after {
          top: 80%;
          left: 50%;
          transform: translate(-50%, -10%); } }

#last-stat::after {
  display: none; }

footer {
  background-color: #F4F6F7;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer .copyright p {
    font-size: 1.25rem;
    font-weight: 900;
    color: rgba(0, 103, 244, 0.8); }
